
@{
    ViewBag.Title = "Index";
}

<h2>Soulslike Simulator</h2>
<body>
    The goal of the Soulslike Simulator is to recreate the iconic feeling of fighting a Dark Souls boss: attacks will be telegraphed, player movement is limited, and
    everything will be challenging to make the player feel small and insignificant against the enemies they will have to fight.  This makes every victory
    a hard-fought one, and should be rewarding to accomplish.
</body>

