
@{
    ViewBag.Title = "Index";
}

<h2>About</h2>
<body>
    Dang Inc. Games is actually just one person and they're not even a real business. They're FAKE and it's just a dude in a programming class.'
</body>

